meteo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="VilleType">
        <xs:attribute name="nom" type="xs:string" use="required"/>
        <xs:attribute name="temperature" type="xs:double" use="required"/>
    </xs:complexType>
    <xs:complexType name="MesureType">
        <xs:sequence>
            <xs:element name="ville" type="VilleType" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="date" type="xs:date" use="required"/>
    </xs:complexType>
    
    <xs:element name="meteo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="mesure" type="MesureType" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
